@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../../src/theme/Fonts/NHaasGroteskTXPro-55Rg.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../../src/theme/Fonts/NHaasGroteskTXPro-65Md.ttf');
    font-weight: 400;
    font-style: medium;
  }
  
  @font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../../src/theme/Fonts/NHaasGroteskTXPro-75Bd.ttf');
    font-weight: 900;
    font-style: bold;
  }

    
  @font-face {
    font-family: 'Montserrat';
    src: url('../../../src/theme/Fonts/Montserrat-Bold.ttf');
    font-weight: 900;
    font-style: bold;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../../../src/theme/Fonts/Montserrat-Regular.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('../../../src/theme/Fonts/BrandonGrotesque-Regular.ttf');
    font-weight: normal;
  }

  
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('../../../src/theme/Fonts/BrandonGrotesque-Light.ttf');
    font-weight: 300;
  }