<ion-header style="background-color: var(--ion-background-color);">
  <ion-grid item-content>
    <ion-row>
      <ion-col size=2 class="back">
        <ion-back-button style="    position: relative;
        top: calc(50% - 18px);"></ion-back-button>
      </ion-col>
      <ion-col class="interests" *ngIf="interestsLoaded.length!=0">
        <ion-chip *ngFor="let i of interestsLoaded; let j = index" color="{{i['color']}}">
          <ion-label>{{i['interest']}}</ion-label>
        </ion-chip>
        <ionic-selectable #portComponent style="display: none;" [items]="interestsList" itemValueField="id"
          itemTextField="interestCombo" [canSearch]="true" [isMultiple]="true" (onChange)="portChange($event)">
        </ionic-selectable>
        <!-- <input *ngIf="adding" list="browsers" class="form__field" placeholder="interest" name="name" id='name' required>
          <datalist id="browsers">
            <option *ngFor="let i of interestsList" value="{{i.interest}} | {{i.value}}"></option>
        </datalist> -->
        <ion-button icon-only fill="clear" (click)="addInterest()">
          <ion-icon color="dark" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="offer-cards" *ngFor="let Offer of filteredInterests;">

    <ion-card (click)="cardPressed(Offer)">
      
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <img style="border-radius: 100%; transform: scale(.8);" src="{{Offer.logo}}">
            </ion-col>
            <ion-col style="padding-top: 15px;">
              <ion-row>
                <ion-card-title>{{Offer.title}}</ion-card-title>
              </ion-row>
              <ion-row>
                <p>{{Offer.location}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <div class="chips">
        <ion-chip>
          <ion-icon name="glasses-outline" color="medium"></ion-icon>
          <ion-label>{{Offer.level}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-icon name="time-outline" color="medium"></ion-icon>
          <ion-label>{{Offer.duration}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-icon name="calendar-outline" color="medium"></ion-icon>
          <ion-label>{{Offer.date | date: 'dd/MM/yy'}}</ion-label>
        </ion-chip>
      </div>
    </ion-card>
  </div>
</ion-content>